/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_main__ibFHK {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  justify-content: inherit;
}

.page_center__GvJ9Y {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  color: #785e22;
  font-size: x-large;
}

.page_footer__lVP8S {
  margin-top:auto;
}
