.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  justify-content: inherit;
}

.center {
  display: flex;
  padding: 4rem 0;
  color: #785e22;
  font-size: large;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  margin-top:auto;
}